<section class="header" [formGroup]="form">
  <mat-form-field class="full-width">
    <mat-label>Days off</mat-label>
    <input
      matInput
      placeholder="Showing"
      [value]="this.dataSource.data.length"
      readonly
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Years</mat-label>
    <mat-select formControlName="year">
      @for (year of years; track year) {
      <mat-option [value]="year">{{ year }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="view-container">
    <mat-checkbox formControlName="onlyWeekdays" color="primary"
      >Weekdays</mat-checkbox
    >
    <ng-container *ngIf="view$ | async as view">
      <div class="view-btn-container">
        <button
          mat-stroked-button
          (click)="toggleView('Table')"
          [ngClass]="view === 'Table' ? 'btn-selected' : null"
        >
          <mat-icon fontIcon="table_chart" color="primary"></mat-icon> Table
        </button>
        <button
          mat-stroked-button
          (click)="toggleView('Year')"
          [ngClass]="view === 'Year' ? 'btn-selected' : null"
        >
          <mat-icon fontIcon="calendar_month" color="primary"></mat-icon> Year
        </button>
      </div>
    </ng-container>
  </div>
</section>

@switch (this.view$ | async ) { @case ("Table") {
<section class="table-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>Day</th>
      <td mat-cell *matCellDef="let element">
        <div class="day-column">
          <div>
            <span *ngIf="element.isHalfDay && element.isWeekdays == true"
              >1/2</span
            >
            {{ element.date | date : "EEEE" }}
          </div>
          <div>
            {{ element.date | date : "MMM dd" }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngStyle]="{
        opacity: row.isWeekdays == false ? '0.4' : null
      }"
    ></tr>
  </table>
</section>
} @case ("Year") {
<section class="year-container">
  @for (gh of this.groupedHolidays; track gh) {
  <mat-card class="calendar-card">
    <mat-calendar
      [startAt]="gh.holidays[0].date"
      [dateClass]="monthCellClass"
    ></mat-calendar>
  </mat-card>
  }
</section>

} }
