<section class="header" [formGroup]="form">
  <mat-form-field class="full-width">
    <mat-label>Days off</mat-label>
    <input
      matInput
      placeholder="Showing"
      [value]="this.dataSource.data.length"
      readonly
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Years</mat-label>
    <mat-select formControlName="year">
      @for (year of years; track year) {
      <mat-option [value]="year">{{ year }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-checkbox formControlName="isWeekdays" color="primary"
    >Weekdays</mat-checkbox
  >
</section>

<section class="table-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <div class="name-column">
          Name
          <button
            mat-icon-button
            color="primary"
            routerLink="/calendar"
            routerLinkActive="active"
          >
            <mat-icon fontIcon="calendar_month"></mat-icon>
          </button>
        </div>
      </th>
      <td mat-cell *matCellDef="let element" (click)="openDetail(element)">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>Day</th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex; justify-content: space-between">
          <div>
            {{ element.date | date : "EEEE" }}
          </div>
          <div>
            {{ element.date | date : "MMM dd" }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [style]="isWeekendStyle(row)"
    ></tr>
  </table>
</section>
