<section class="table-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSourse$.value">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ "TABLE.COLUMN.NAME" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.name | translateHoliday | translate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>
        {{ "TABLE.COLUMN.DAY" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="day-column">
          <div>
            @if(element.isHalfDay && element.isWeekdays == true){
            <span>1/2</span>
            }
            {{
              "DAY." + (element.date | date : "EEEE")?.toUpperCase() | translate
            }}
          </div>
          <div>
            {{
              "MONTH." + (element.date | date : "MMM")?.toUpperCase()
                | translate
            }}
            {{ element.date | date : "dd" }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngStyle]="{ opacity: row.isWeekdays == false ? '0.4' : null }"
    ></tr>
  </table>
</section>
